a {
  padding: 4px 6px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal; }

a:hover {
  text-decoration: underline;
  padding: 4px 4px 2px 4px;
  border: 2px solid #333;
  border-radius: 5px; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  margin: 0; }

h2 {
  font-size: 24px; }

p {
  font-size: 18px;
  font-weight: lighter; }

.about {
  margin-top: 100vh;
  background-color: #333;
  border-top: 1px solid #dbdbdb; }

.about-inner {
  padding-top: 50px;
  width: 58.33333%; }

.anchor-spacer {
  position: relative;
  top: -100px; }

.button {
  padding: 4px 4px 2px 4px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #333;
  min-width: 100px;
  vertical-align: middle;
  display: inline-block; }

.code-img {
  z-index: -1;
  float: left;
  opacity: 0.65; }

.contact {
  background-color: white;
  color: #333; }

.contact-content {
  float: left;
  width: 33.33333%; }

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw; }
  .container h1 {
    margin-top: 20vh;
    margin-bottom: 0;
    font-size: 15vh;
    font-weight: bolder; }

.display-inline-block {
  display: inline-block; }

.hamburger {
  font-size: 48px;
  display: inline-block;
  padding-top: 17px;
  float: left; }

.hero {
  background-image: url(../img/hero2-min.jpg);
  opacity: 0.5;
  height: 100vh;
  max-height: 1080px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  /*z-index: -1;*/ }

.hero-container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99; }

.inner-nav {
  width: 900px;
  margin: 0 auto;
  padding-top: 0px; }
  .inner-nav ul {
    list-style-type: none;
    float: left;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    padding-left: 0px;
    /* removes annoying user-agent stylesheet ul padding */
    display: inline-block; }
    .inner-nav ul li {
      display: inline-block;
      margin: 15px 22px 15px 0px; }
      .inner-nav ul li a {
        padding: 6px 6px 4px 6px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 24px; }
      .inner-nav ul li a:hover {
        text-decoration: underline;
        padding: 4px 4px 2px 4px;
        border: 2px solid #fff;
        border-radius: 5px; }
      .inner-nav ul li:last-of-type {
        margin: 15px 0px 15px 0px; }

.inner-row {
  width: 66.66667%;
  margin-left: auto;
  margin-right: auto; }

.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%; }

.portfolio {
  background-color: #fff;
  color: #333; }

.portfolio-content {
  text-align: right;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1; }

.portfolio-inner {
  position: relative; }

.resume {
  text-align: center;
  background-color: #efefef;
  color: #333; }

.resume-content {
  padding-top: 50px; }

.row {
  float: left;
  border-bottom: 1px solid #dbdbdb;
  min-height: 400px;
  height: auto;
  width: 100%;
  z-index: 1;
  overflow: hidden; }

.scroll-fix {
  background-color: black;
  border-bottom: 1px solid #dbdbdb; }

.hide-scroll-fix {
  background-color: none !important;
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -ms-transition: background 0.25s linear;
  -o-transition: background 0.25s linear;
  transition: background 0.25s linear; }

.title {
  text-decoration: underline;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: inline-block; }

@media all and (min-width: 1071px) {
  .hamburger {
    display: none; } }
@media all and (max-width: 1070px) {
  .code-img {
    opacity: 0.25;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out; }

  .contact-content {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px; }

  .container h1 {
    font-size: 12vh; }

  .inner-nav {
    margin-left: 150px; }

  .inner-nav ul > :not(:first-child) {
    display: none; } }
@media all and (max-width: 767px) {
  .about-inner {
    width: 90%; }

  .container h1 {
    font-size: 12vw; }

  .hamburger {
    padding-top: 15px; }

  .inner-nav {
    width: 350px;
    margin-left: 15px; }

  .inner-nav ul li a {
    font-size: 20px; }

  .inner-row {
    width: 90%;
    padding: 0px 15px; }

  .portfolio-inner {
    width: 90%; }

  .row {
    width: 100%; } }

/*# sourceMappingURL=site.css.map */
